{% extends 'bass.html' %}

{% block content %}
{% if error_message %}
<p>{{ error_message }}</p>
{% endif %}

{% if success_message %}
<p>{{ success_message }}</p>
{% else %}
<div class="container">
  <div class="logo">
      <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Uasin_Gishu_County_Government_logo.png" alt="">
  </div>
  <h2>Password Reset</h2>
<form method="POST" action="{% url 'reset_password' %}">
  {% csrf_token %}
  <div>
    <label for="id_public_service_number">Public Service Number:</label>
    <input type="text" name="public_service_number" id="id_public_service_number">
  </div>
  <div>
    <label for="id_phone_number">Phone Number:</label>
    <input type="text" name="phone_number" id="id_phone_number">
  </div>
  <input type="submit" value="Reset Password">
</form>
{% endif %}
{% endblock %}
